* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
header {
  width: 100%;
  height: 82px;
  position: absolute;
  transition: all 0.3s;
  top: 0px;
  z-index: 9999;
}
header nav {
  width: 1236px;
  margin: 0 auto;
  height: 80px;
}
header nav > a:first-child {
  display: inline-block;
  color: black;
  font-size: 22px ;
  color: #006bcf;
  line-height: 82px;
  margin-right: 80px;
  vertical-align: top;
}
header nav > ul {
  list-style: none;
  font-size: 14px;
  color: gray;
  display: inline-block;
}
header nav > ul > li {
  float: left;
  line-height: 82px;
  height: 82px;
  margin-left: 34px;
}
header nav > ul > li a {
  text-decoration: none;
  color: black;
}
header nav > ul li:last-child {
  cursor: pointer;
  color: black;
  margin-right: 20px;
  position: relative;
}
header nav > ul li:last-child div {
  transition: all 0.4s;
  width: 100vw;
  z-index: 9999;
  height: 0px;
  position: absolute;
  top: 70px;
  left: -1000px;
  background-color: white;
  overflow: hidden;
  text-align: center;
}
header nav > ul li:last-child div img {
  width: 1400px;
  height: 340px;
}
header nav > ul li:last-child:hover div {
  height: 340px;
}
header nav .search {
  display: inline-block;
  position: relative;
  top: -27px;
  width: 180px;
  height: 30px;
  border-radius: 17px;
  background-color: white;
  margin-top: -10px;
  border: solid 1px gray;
  overflow: hidden;
}
header nav .search input {
  margin: 0 10px;
  width: 120px;
  position: relative;
  top: -2px;
  left: 0px;
  font-size: 12px;
  color: gray;
  border: none;
  outline: none;
}
header nav .search span {
  font-weight: bold;
  line-height: 30px;
  cursor: pointer;
}
header nav span.icon-wode,
header nav .icon-gouwuche {
  cursor: pointer;
  line-height: 80px;
  font-size: 20px;
  margin-left: 10px;
  font-weight: bold;
  vertical-align: top;
}
header nav span.icon-wode {
  display: inline-block;
  position: relative;
  vertical-align: top;
}
header nav span.icon-wode .user {
  position: absolute;
  top: 60px;
  left: -30px;
  list-style: none;
  transition: all 0.2s;
  line-height: 100%;
  background-color: white;
  box-shadow: 0 6px 8px 0 rgba(138, 153, 150, 0.35);
  width: 80px;
  height: 0px;
  font-size: 12px;
  font-weight: normal;
  overflow: hidden;
}
header nav span.icon-wode .user > li {
  margin: 10px ;
  text-align: center;
}
header nav span.icon-wode .user > li > a {
  text-decoration: none;
  color: gray;
}
header nav span.icon-wode .user > li > a:hover {
  color: black;
}
header nav span.icon-wode:hover .user {
  height: 100px;
}
header .navigation_wrap {
  position: absolute;
  top: 82px;
  box-shadow: 0 22px 34px 0 rgba(122, 134, 132, 0.45);
  z-index: 999999;
  width: 100%;
  height: 0px;
  overflow: hidden;
  transition: all 0.4s;
  background-color: #ffffff;
}
header .navigation_wrap .navigation_container {
  margin: 0 auto;
  list-style: none;
  width: 1236px;
}
header .navigation_wrap .navigation_container li {
  float: left;
  text-align: center;
  width: 123px;
  height: 173px;
  transition: all 0.2s;
  border-radius: 14px;
  padding: 10px 0;
  margin: 10px 12px;
}
header .navigation_wrap .navigation_container li img {
  width: 100px;
  height: 100px;
}
header .navigation_wrap .navigation_container li p {
  color: gray;
  font-size: 12px;
}
.swiper-container {
  width: 100%;
  height: 680px;
}
.bannerDown {
  user-select: none;
  width: 1136px;
  height: 300px;
  margin: 0 auto;
  overflow: hidden;
}
.bannerDown > ul {
  margin-top: 50px;
  list-style: none;
  background-color: #fff;
}
.bannerDown > ul > li {
  float: left;
  margin: 0 24px;
  width: 236px;
  height: 230px;
  text-align: center;
}
.bannerDown > ul > li img {
  border-radius: 14px;
  box-shadow: 0 12px 16px 0 rgba(122, 134, 132, 0.45);
  width: 230px;
  height: 160px;
  margin-bottom: 30px;
  transition: all 0.3s;
}
.bannerDown > ul > li img:hover {
  opacity: 0.9;
  transform: translateY(-3px);
}
.bannerDown > ul > li p {
  font-size: 15px;
  margin-bottom: 8px;
  color: #575757;
}
.bannerDown > ul > li span {
  color: gray;
  font-size: 13px;
}
.phoneWrap_bg {
  user-select: none;
  padding: 30px 0;
  margin-top: 40px ;
  width: 100%;
  background-color: #f7f7f7;
  text-align: center;
}
.phoneWrap_bg > p {
  color: #303030;
  font-size: 26px;
}
.phoneWrap_bg > .phonebanner {
  width: 100%;
  height: 450px;
  margin: 16px auto;
  transition: all 0.2s;
  background: url("../img/phoneBanner.jpg") no-repeat -530px 0;
}
.phoneWrap_bg > .phonebanner:hover {
  opacity: 0.9;
}
.phoneWrap_bg > ul {
  list-style: none;
  margin: 0 auto;
  width: 1236px;
  height: 900px;
}
.phoneWrap_bg > ul li.bigintro {
  width: 600px;
  height: 550px;
  background-color: white;
  transition: all 0.2s;
  float: left;
  margin: 10px 8px;
  display: flex;
  border-radius: 14px;
}
.phoneWrap_bg > ul li.bigintro a {
  display: inline-block;
  width: 100%;
  text-align: center;
  text-decoration: none;
}
.phoneWrap_bg > ul li.bigintro a img {
  width: 450px;
  height: 450px;
}
.phoneWrap_bg > ul li.bigintro a p:first-child {
  font-size: 26px;
  margin-top: 20px;
  color: #333333;
}
.phoneWrap_bg > ul li.bigintro a p:nth-child(2) {
  font-size: 14px;
  margin: 6px 0;
  color: #666666;
}
.phoneWrap_bg > ul li.bigintro a p:nth-child(3) {
  font-size: 18px;
  color: #bd0000;
}
.phoneWrap_bg > ul li.bigintro:hover {
  transform: translateY(-3px);
  box-shadow: 0 12px 16px 0 rgba(122, 134, 132, 0.45);
}
.phoneWrap_bg > ul li.smallintro {
  width: 293px;
  height: 350px;
  transition: all 0.2s;
  float: left;
  margin: 4px 8px;
  border-radius: 20px;
  background-color: #fff;
}
.phoneWrap_bg > ul li.smallintro img {
  width: 230px;
  height: 230px;
}
.phoneWrap_bg > ul li.smallintro a {
  text-decoration: none;
}
.phoneWrap_bg > ul li.smallintro a p:nth-child(2) {
  font-size: 16px;
  margin-top: 20px;
  color: #333333;
}
.phoneWrap_bg > ul li.smallintro a p:nth-child(3) {
  font-size: 13px;
  margin: 6px 0;
  color: #666666;
}
.phoneWrap_bg > ul li.smallintro a p:nth-child(4) {
  font-size: 18px;
  color: #bd0000;
}
.phoneWrap_bg > ul li.smallintro:hover {
  box-shadow: 0 12px 16px 0 rgba(122, 134, 132, 0.45);
  transform: translateY(-3px);
}
.phoneWrap_bg {
  user-select: none;
  overflow: hidden;
}
.phoneWrap_bg .earbanner {
  background: url("../img/earbots.jpg") no-repeat -530px 0 !important;
}
.phoneWrap_bg ul {
  height: 760px;
}
.phoneWrap_bg ul #first_ear {
  border-radius: 0;
}
.phoneWrap_bg ul #first_ear:hover {
  transform: translateY(0);
  box-shadow: none;
}
.phoneWrap_bg ul #first_ear a {
  color: white;
  font-size: 24px;
  font-weight: bold;
}
.phoneWrap_bg ul #first_ear a span {
  position: relative;
  top: 90px;
}
.phoneWrap_bg ul #first_ear a span.count {
  font-size: 24px;
  border-radius: 8px;
  display: inline-block;
  text-align: center;
  line-height: 56px;
  width: 50px;
  height: 56px;
  margin: 0 10px;
  background-color: #a7a7a7;
  color: #ffffff !important;
  font-weight: bold;
}
.phoneWrap_bg ul #first_ear a p:nth-child(1) {
  font-size: 20px;
  margin-top: 240px;
  color: #ffffff !important;
  font-weight: bold;
}
.phoneWrap_bg ul #first_ear a p:nth-child(2) {
  font-size: 13px;
  margin: 6px 0;
  color: #ffffff !important;
}
.phoneWrap_bg ul #first_ear a p:nth-child(3) {
  font-size: 20px;
  font-weight: bold;
  color: #ebce6b !important;
}
.footerWrp {
  user-select: none;
  width: 1236px;
  height: 260px;
  margin-bottom: 20px;
  overflow: hidden;
  margin: 0 auto;
}
.footerWrp .footer_Left {
  float: left;
  width: 1000px;
  background-color: #ffffff;
}
.footerWrp .footer_Left > ul {
  list-style: none;
  margin-top: 50px;
  margin-left: 20px;
  margin-bottom: 20px;
  height: 120px;
}
.footerWrp .footer_Left > ul li {
  width: 110px;
  height: 110px;
  background-color: #ffffff;
  float: left;
  text-align: center;
  padding-top: 20px;
  margin: 0 15px;
}
.footerWrp .footer_Left > ul li img {
  width: 40px;
  height: 36px;
}
.footerWrp .footer_Left > ul li a {
  text-decoration: none;
  color: #979797;
  font-size: 12px;
}
.footerWrp .footer_Left > p {
  float: left;
}
.footerWrp .footer_Left > p a {
  display: inline-block;
  text-decoration: none;
  color: #afafaf;
  font-size: 13px;
  margin: 0 4px;
  padding-right: 13px;
  border-right: 1px solid gray;
}
.footerWrp .footer_Left > p a:last-child {
  border: none;
  display: inline-block;
  margin-top: 10px;
}
.footerWrp .footer_Left > p a:nth-last-child(2) {
  border: none;
}
.footerWrp .footer_right {
  width: 200px;
  float: right;
  padding-top: 50px;
  position: relative;
}
.footerWrp .footer_right p {
  text-align: right;
  width: 100%;
  font-size: 12px;
  color: gray;
}
.footerWrp .footer_right span {
  display: inline-block;
  margin: 4px 0;
  text-align: right;
  width: 100%;
  font-size: 20px;
  color: #0084ff;
}
.footerWrp .footer_right div {
  cursor: pointer;
  width: 80px;
  height: 30px;
  font-size: 14px;
  float: right;
  color: white;
  line-height: 30px;
  text-align: center;
  background-color: #0084ff;
  border-radius: 15px;
}
.footerWrp .footer_right ul {
  position: absolute;
  float: right;
  top: 200px;
  right: 0;
  width: 186px;
  height: 40px;
}
.footerWrp .footer_right ul li {
  list-style: none;
  float: left;
  background-color: #fff;
}
.footerWrp .footer_right ul li img {
  cursor: pointer;
  display: inline-block;
  width: 22px;
  height: 20px;
  margin: 0 12px;
}
.footerWrp .footer_right ul li:first-child {
  position: relative;
}
.footerWrp .footer_right ul li:first-child .weixin_adver {
  width: 180px;
  height: 0px;
  position: absolute;
  z-index: 9999999;
  top: -180px;
  left: -100px;
}
.footerWrp .footer_right ul li:first-child:hover .weixin_adver {
  height: 180px;
}
.footerWrp .footer_right ul li:nth-child(2) {
  position: relative;
}
.footerWrp .footer_right ul li:nth-child(2) .lianjie_adver {
  width: 180px;
  height: 0px;
  position: absolute;
  z-index: 9999999;
  top: -180px;
  left: -100px;
}
.footerWrp .footer_right ul li:nth-child(2):hover .lianjie_adver {
  height: 180px;
}
